* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #232323;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

#content {
    margin: 20px auto;
    max-width: 1180px;
    width: 100%;
}

.content_subheading {
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
    margin: 60px 0;
}

.content_subheading:hover {
    color: red;
    cursor: pointer;
}

.content_shop {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 26px 40px;
    margin-bottom: 40px;
}

.content_shop .product_image {
    max-height: 350px;
    max-width: 260px;
    width: 100%;
}

.product_item {
    position: relative;
}

.product_info {
    text-align: center;
    margin-top: 16px;
    z-index: 1;
}

.product_info a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--black-color);
}

.product_info a:hover {
    color: #E95144;
    cursor: pointer;
}

.product_name {
    font-size: 1.3rem;
    color: var(--black-color);
    margin-bottom: 4px;
}

.product_cost {
    font-size: 1.3rem;
    color: #E95144;
    font-weight: 900;
}

.produc_cost-sale {
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: line-through;
    color: #B5B5B5;
    margin-left: 3px;
}

.product_select {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.3rem;
    min-height: 42px;
    width: 98%;
    left: 0;
    text-align: center;
    bottom: -7px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(70%);
    transition: opacity 0.5s ease, transform 0.25s ease-in-out;
}

.product_buy {
    display: flex;
}

.icon_cart {
    margin-right: 5px;
}

.product_item:hover .product_select {
    opacity: 1;
    transform: translateY(0);
    bottom: 0;
    pointer-events: auto;
}

.product_select.product_buy {
    pointer-events: none;
}

.product_buy:hover {
    cursor: pointer;
    color: #E95144;
}

.product_image:hover {
    opacity: 0.6;
    cursor: pointer;
}

.content_page {
    text-align: center;
    font-size: 1.3rem;
}

.content_page a {
    text-decoration: none;
    color: var(--black-color);
    margin-left: 5px;
    margin-right: 5px;
}