* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --black-color: #232323;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}


#header {
    width: 1184px;
    max-width: 100%;
    margin: 0 auto;
}

.header_topbar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 1.1rem;
    color: #AAA;
    padding: 12px;
}

.username {
    display: flex;
}

.header_topbar img {
    width: 20px;
    margin-right: 10px;
}

.header_topbar li {
    /* font-size: 1.3rem; */
    color: #AAA;
    text-transform: capitalize;
}

.header_topbar .logout a {
    text-decoration: none;
    margin-left: 15px;
    color: #AAA;
}


.header_register {
    margin-right: 25px;
}

.header_register:hover,
.header_login:hover {
    color: var(--black-color);
    cursor: pointer;
}

.header_hr {
    height: 1px;
    background-color: black;
    border: none;
}

.header_midbar {
    margin: 32px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.header_search {
    display: flex;
}

.search-input {
    font-size: 1.3rem;
    padding: 0 20px;
    height: 34px;
    width: 170px;
    color: var(--black-color);
    border-right: none;
    border: 1px solid var(--black-color);
}

.search-input::placeholder {
    color: var(--black-color);
}

.header_logo {
    font-size: 24px;
    margin-right: 92px;
}

.header_icon-search {
    background-color: var(--black-color);
    color: white;
    font-size: 1.4rem;
    padding: 0 25px;
    white-space: nowrap;
    border: none;
}

.header_icon-search:hover {
    color: red;
    cursor: pointer;
}

.header_cart {
    font-size: 1.5rem;
    font-weight: 800;
}

/* Navigation Bar */
.header_nav {
    display: flex;
    justify-content: center;
}

.header_nav li {
    display: inline-block;
    position: relative;
}

.header_nav>li>a {
    color: var(--black-color);
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 50px;
}

.header_nav li a {
    text-decoration: none;
    padding: 0 31px;
    display: block;
}

.header_nav li:hover .sub_nav {
    display: block;
}

.header_nav>li:hover>a {
    color: #ffff;
    background-color: var(--black-color);
    transition: ease-in 0.3s;
}

.header_nav>li.active>a {
    color: #ffff;
    background-color: var(--black-color);
}

.header_nav .sub_nav {
    display: none;
    position: absolute;
    top: 101%;
    background-color: var(--black-color);
    min-width: 200px;
}

.header_nav .sub_nav li {
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    line-height: 40px;
    position: relative;
    width: 100%;
}

.header_nav .sub_nav a {
    color: #FFF;
    font-size: 1.2rem;
}

.header_nav .sub_nav>li:hover>a,
.sub_nav .nav_product li:hover a {
    color: #b8d0de;
    background-color: var(--black-color);
}

.header_nav .nav_down {
    position: absolute;
    margin-left: 9px;
    top: 15px;
}

.sub_nav .nav_product {
    display: none;
    position: absolute;
    left: 100%;
    top: -1.5px;
    background-color: var(--black-color);
    min-width: 200px;
    z-index: 1000;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.sub_nav li:hover .nav_product {
    display: block;
}

.sub_nav .nav_right {
    position: absolute;
    right: 10px;
    top: 14px;
}

#banner {
    width: 1184px;
    max-width: 100%;
    margin: 0 auto;
}

.header_banner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.header_banner li {
    line-height: 30px;
    background-color: var(--black-color);
    text-align: center;
    list-style-type: none;
    padding: 4px;
}

.header_banner li a {
    display: block;
    color: #b8d0de;
    border: 1px solid #545454;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 7px;
}

/* -----------SLIDER------------- */
#slider {
    margin: 20px auto;
    max-width: 1180px;
    width: 100%;
}

.img_banner {
    display: flex;
    justify-content: space-between;
    margin: 46px 0;
}

.img_brand {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.img_brand .img_suft {
    font-size: 4rem;
    margin-top: 4px;
    color: #6b6262;
    font-weight: 100;
    opacity: 1;
}

.img_hr {
    border: none;
    border-top: 1px solid rgba(49, 47, 47, 0.3);
    margin-bottom: 68px;
}

/* ---CONTENT----- */
#content {
    margin: 20px auto;
    max-width: 1180px;
    width: 100%;
}

.content_subheading {
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    margin: 60px 0;
}

.content_subheading:hover {
    color: red;
    cursor: pointer;
}

.content_shop {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 26px 40px;
    margin-bottom: 40px;
}

.content_shop .product_image {
    max-height: 350px;
    max-width: 260px;
    width: 100%;
}

.product_item {
    position: relative;
}

.product_info {
    text-align: center;
    margin-top: 16px;
    z-index: 1;
}

.product_info a {
    text-decoration: none;
}

.product_info a:hover {
    color: #E95144;
    cursor: pointer;
}

.product_name {
    font-size: 1.3rem;
    color: var(--black-color);
    margin-bottom: 4px;
}

.product_cost {
    font-size: 1.3rem;
    color: #E95144;
    font-weight: 900;
}

.produc_cost-sale {
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: line-through;
    color: #B5B5B5;
    margin-left: 3px;
}

.product_select {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-color);
    color: #FFF;
    text-transform: uppercase;
    font-size: 1.3rem;
    min-height: 42px;
    width: 98%;
    left: 0;
    text-align: center;
    bottom: -7px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(70%);
    transition: opacity 0.5s ease, transform 0.25s ease-in-out;
}

.product_buy {
    display: flex;
}

.icon_cart {
    margin-right: 5px;
}

.product_item:hover .product_select {
    opacity: 1;
    transform: translateY(0);
    bottom: 0;
    pointer-events: auto;
}

.product_select.product_buy {
    pointer-events: none;
}

.product_buy:hover {
    cursor: pointer;
    color: #E95144;
}

.product_image:hover {
    opacity: 0.6;
    cursor: pointer;
}

.content_more {
    display: flex;
    justify-content: center;
    margin: auto;
    line-height: 42px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    max-width: 290px;
}

.content_more a {
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #00000080;
}

.content_more a:hover {
    color: #ffff;
    background-color: var(--black-color);
    transition: all 0.3s ease;
}

.content_about {
    margin-top: 40px;
    margin-bottom: 45px;
    text-align: center;
}

.content_about h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--black-color);
    font-weight: 400;
    margin-bottom: 20px;
}

.content_about p {
    font-size: 1.2rem;
    color: #363636;
}

.content_contact {
    background-color: #f8f8f8;
    /* display: flex;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: auto auto;
    padding: 25px 0 36px;
}

.enter_register {
    display: flex;
    justify-content: flex-end;
    margin-right: 44px;
}

.enter_email,
.btn_submit {
    height: 48px;

}

.enter_email {
    width: 350px;
    font-size: 1.5rem;
    color: #bdbdbd;
    padding: 0 16px;
    border: 1px solid #c8c8c8;
    margin-right: 12px;
}

.btn_submit {
    min-width: 120px;
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFF;
    background-color: var(--black-color);
    text-transform: uppercase;
}

.content_social {
    width: 600px;
}

.content_app-social {
    text-align: center;
}

.content_app-social i[class*="fa-"] {
    font-size: 1.9rem;
    text-align: center;
    color: #FFF;
    background-color: var(--black-color);
    line-height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-right: 5px;
}

.content_register h2,
.content_social h2 {
    text-align: center;
    font-size: 2rem;
    word-spacing: 4px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--black-color);
    margin: 20px 0 24px;
}

#footer {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--black-color);
}

.footer_info {
    padding: 40px 0;
}

.footer_info h3 {
    color: #FFFF;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.footer_info li {
    list-style-type: none;
    color: #CBCBCB;
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.footer_info .icon_footer {
    margin-right: 5px;
}

.footer_info li a {
    text-decoration: none;
    color: #CBCBCB;
}

.footer_info li a:hover {
    color: #b4abab;
}

/* MODAL */

/* Style các input */
.enter_form input[type="text"],
.enter_form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1.4rem;
}

.enter_form input[type="text"]:focus,
.enter_form input[type="password"]:focus,
.enter_name input[type="text"]:focus {
    background-color: #e8f0fe;
    outline: none;
}

.enter_check input[type="checkbox"] {
    font-size: 1.7rem;
    margin-right: 5px;
}

.enter_check {
    display: flex;
}

.enter_form p,
.enter_name p {
    font-size: 1.6rem;
    color: var(--black-color);
}

.enter_name {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 19px;
}

.enter_name input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 1.4rem;
    padding: 12px;
    width: 208px;
    margin: 10px 0 16px 0;
}

.clearfix {
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: 12px 18px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size: 1.5rem;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.clearfix button:hover {
    opacity: 1;
    background-color: #cccc;
}

/* Style cho nút hủy */
.cancelbtn {
    padding: 12px 18px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    transition: all 0.3s ease;
    margin-right: 10px;
}

.signupbtn {
    background-color: #3ba756;
    border: none;
    transition: all 0.3s ease;
    margin-right: 18px;
}



/* Chia đều nút cancel và signup */
.cancelbtn,
.signupbtn {
    width: 30%;
    border-radius: 5px;
}

/* Container cho nội dung modal */
.container {
    width: 100%;
    box-sizing: border-box;
}

.container h1 {
    font-size: 2.5rem;
    margin: 16px 0;
    color: var(--black-color);
    text-align: center;
}

.container .form_note {
    margin-bottom: 5px;
    color: var(--black-color);
    font-size: 1.2rem;
}


/* Modal (background) */
.modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Modal nội dung */
.modal-sign_up,
.modal-log_in {
    background-color: #fefefe;
    /* Căn giữa nội dung */
    display: flex;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    /* Làm tròn khung */
    width: 30%;
    /* Chiều rộng modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Đổ bóng */
}

/* Style đường kẻ ngang */
hr {
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Responsive cho màn hình nhỏ */
@media screen and (max-width: 768px) {

    .modal-sign_up,
    .modal-log_in {
        width: 80%;
        /* Modal nhỏ hơn trên màn hình nhỏ */
    }

    .cancelbtn,
    .signupbtn {
        width: 100%;
        /* Nút full chiều rộng */
        margin: 10px 0;
    }
}